<%- include('partials/header') %>

<h1><%= title %></h1>
<p>Here are our service project categories:</p>
<ul>
    <% if (typeof categories !== 'undefined' && categories.length > 0) { %>
        <% categories.forEach(category => { %>
            <li><%= category.name %></li>
        <% }) %>
    <% } else { %>
        <li>No categories available.</li>
    <% } %>
</ul>

<%- include('partials/footer') %>
