<%- include('partials/header') %>

<h1><%= title %></h1>
<p>These are our current projects.</p>
<ul>
    <li>Project Alpha</li>
    <li>Project Beta</li>
    <li>Project Gamma</li>
</ul>

<%- include('partials/footer') %>
